In [2]:
# 파이썬에서 sql서버 연동
# 데이터베이스 생성
!pip install pymysql

Requirement already satisfied: pymysql in c:\users\mjk05\anaconda3\lib\site-packages (1.0.2)

In [1]:
import pymysql

In [11]:
db_connected=pymysql.connect(
host='localhost',  #내 컴퓨터 주소(대표전화번호,127.0.0.1;연결하고자 하는 대상 데이터베이스 서버의 주소)
port=3306, #구내번호
user='root', #사용자 계정
passwd='1234', #사용자 비밀번호
charset='utf8'
)

In [13]:
#cursor:연결된 데이터베이스 서버와 상호작용을 하기 위해 필요한 객체
db_curconnected=db_connected.cursor()

In [ ]:
db_curconnected.execute("create database users_db;")

In [15]:
#데이터베이스 생성
db_curconnected.execute("create database users_db;")

1

In [8]:
#데이터베이스 삭제
db_curconnected.execute("drop database users_db;")

0

In [9]:
#command 창에서 sawon_db 데이터베이스 생성 -> 확인 -> 삭제
#주피터노트북에서 sawon_db 데이터베이스 생성 -> 확인 -> 삭제

In [ ]:
db_curconnected.execute("create database users_db;")

In [16]:
db_connected=pymysql.connect(
host='localhost',  #내 컴퓨터 주소(대표전화번호,127.0.0.1;연결하고자 하는 대상 데이터베이스 서버의 주소)
port=3306, #구내번호
db='users_db', #연동 데이터베이스
user='root', #사용자 계정
passwd='1234', #사용자 비밀번호
charset='utf8'
)

In [18]:
db_curconnected=db_connected.cursor()

In [19]:
#테이블 생성
sql_cmd="""
create table student(
hakbun int not null,
name varchar(20) not null,
addr varchar(50) null default 'seoul',
grade int not null,
age int null,
gender char(1) not null);
"""

db_curconnected.execute(sql_cmd)

0

In [20]:
sql_cmd="""
create table user_info(
id int not null auto_increment,
user_id varchar(100) not null,
user_email varchar(100) not null,
primary key(id)
);
"""
db_curconnected.execute(sql_cmd)

0

In [21]:
#####데이터 추가######
import pymysql

In [22]:
db_connect=pymysql.connect(
host='127.0.0.1',
    port=3306,
    db='users_db',
    user='root',
    passwd='1234',
    charset='utf8'
)

In [23]:
db_connected=db_connect.cursor()

In [26]:
sql_cmd="insert into user_info(user_id, user_email) values (%s, %s)"

In [29]:
db_connected.execute(sql_cmd, ('guest', 'test@abc.com'))
db_connected.execute(sql_cmd, ('kim', 'kc@naver.com'))

1

In [30]:
db_connect.commit()

In [32]:
db_connected.execute("select * from user_info")
db_connected.fetchall()

((1, 'guest', 'test@abc.com'),
 (2, 'kim', 'kc@naver.com'),
 (3, 'guest', 'test@abc.com'),
 (4, 'kim', 'kc@naver.com'))

In [33]:
db_connected.execute("select * from user_info where user_id='kim'")
db_connected.fetchall()

((2, 'kim', 'kc@naver.com'), (4, 'kim', 'kc@naver.com'))

In [34]:
db_connected.execute("select * from user_info where user_id=%s", 'kim')
db_connected.fetchall()

((2, 'kim', 'kc@naver.com'), (4, 'kim', 'kc@naver.com'))

In [35]:
sql_cmd="select * from user_info where user_id=%s"
db_connected.execute(sql_cmd, 'kim')
db_connected.fetchall()

((2, 'kim', 'kc@naver.com'), (4, 'kim', 'kc@naver.com'))

In [36]:
#######테이블 데이터 업데이트###########

In [37]:
import pymysql

In [39]:
db_connect=pymysql.connect(
host='localhost', #127.0.0.1
port=3306,
db='users_db',
user='root',
passwd='1234',
charset='utf8'
)

In [40]:
db_connected=db_connect.cursor()

In [43]:
#user_email열 test@abc.com -> test@xy.kr
sql_cmd="update user_info set user_email='test@xy.kr'"
db_connected.execute(sql_cmd)
db_connect.commit()

In [44]:
db_connected.execute("select * from user_info")
db_connected.fetchall()

((1, 'guest', 'test@xy.kr'),
 (2, 'kim', 'test@xy.kr'),
 (3, 'guest', 'test@xy.kr'),
 (4, 'kim', 'test@xy.kr'))

In [45]:
#user_id열 kim-> lee
sql_cmd="update user_info set user_id='lee' where user_id='kim'"
db_connected.execute(sql_cmd)
#db_connect.commit()

2

In [46]:
db_connected.execute("select * from user_info")
db_connected.fetchall()

((1, 'guest', 'test@xy.kr'),
 (2, 'lee', 'test@xy.kr'),
 (3, 'guest', 'test@xy.kr'),
 (4, 'lee', 'test@xy.kr'))

In [48]:
#user_id열 kim-> lee
sql_cmd="update user_info set user_id=%s where user_id=%s"
db_connected.execute(sql_cmd, ('kim', 'lee') )
#db_connect.commit()

2

In [49]:
db_connected.execute("select * from user_info")
db_connected.fetchall()

((1, 'guest', 'test@xy.kr'),
 (2, 'kim', 'test@xy.kr'),
 (3, 'guest', 'test@xy.kr'),
 (4, 'kim', 'test@xy.kr'))

In [50]:
##########테이블 데이터 삭제##############

In [52]:
import pymysql

In [53]:
db_connect=pymysql.connect(
host='localhost', #127.0.0.1
port=3306,
db='users_db',
user='root',
passwd='1234',
charset='utf8'
)

In [54]:
db_connected=db_connect.cursor()

In [56]:
sql_cmd="delete from user_info where user_id='guest'"#"user_id가 guest인 사람의 자료 모두 삭제"
db_connected.execute(sql_cmd)

2

In [57]:
db_connected.execute("select * from user_info")
db_connected.fetchall()

((2, 'kim', 'test@xy.kr'), (4, 'kim', 'test@xy.kr'))

In [ ]:
#테이블 생성
# sql_cmd="""
# create table student(
# hakbun int not null,
# name varchar(20) not null,
# addr varchar(50) null default 'seoul',
# grade int not null,
# age int null,
# gender char(1) not null);
# """

# db_curconnected.execute(sql_cmd)

In [ ]:
# 테이블명:student
# 컬럼:hakbun,name,addr,grade,age,gender
#2022001, '비티에스', '서울시', 1, 25, '남'
#2021005, '블핑', '서울시', 2, 23, '여'
#2022002, '서태지', '경기도', 4, 28, '남'
#2019001, '조용필', '제주도', 4, 35, '남'
#2021003, '원더걸스', '서울시', 3, 22, '여'

In [58]:
#데이터 추가
sql_cmd="""
insert into student(hakbun, name, addr, grade, age, gender)
values
(2022001,'비티에스','서울시', 1, 25, '남'),
(2022005,'블핑','서울시', 2, 24, '여'),
(2022003,'서태지','경기도', 4, 28, '남'),
(2019001,'조용필','제주도', 4, 35, '남'),
(2021002,'원더걸스','서울시', 3, 22, '여')

"""
db_connected.execute(sql_cmd)

5

In [59]:
db_connected.execute("select * from student")
db_connected.fetchall()

((2022001, '비티에스', '서울시', 1, 25, '남'),
 (2022005, '블핑', '서울시', 2, 24, '여'),
 (2022003, '서태지', '경기도', 4, 28, '남'),
 (2019001, '조용필', '제주도', 4, 35, '남'),
 (2021002, '원더걸스', '서울시', 3, 22, '여'))

In [60]:
#학년이 3학년 이상인 학생만 추출
db_connected.execute("select * from student where grade >= 3")
db_connected.fetchall()

((2022003, '서태지', '경기도', 4, 28, '남'),
 (2019001, '조용필', '제주도', 4, 35, '남'),
 (2021002, '원더걸스', '서울시', 3, 22, '여'))

In [7]:
import pymysql
db_connected=pymysql.connect(
host='localhost',  #내 컴퓨터 주소(대표전화번호,127.0.0.1;연결하고자 하는 대상 데이터베이스 서버의 주소)
port=3306, #구내번호
user='root', #사용자 계정
passwd='1234', #사용자 비밀번호
charset='utf8'
)
db_curconnected=db_connected.cursor()
db_curconnected.execute("create database sawon_db;")
db_connect2=pymysql.connect(
host='localhost',
    port=3306,
    db='sawon_db',
    user='root',
    passwd='1234',
    charset='utf8'
)
db_cur2=db_connect2.cursor()
sql_cmd="""
create table sawon(
sabun varchar(5) not null,
name varchar(10) not null,
juso varchar(20) not null,
tel varchar(20) not null,
year int not null);"""
db_cur2.execute(sql_cmd)

0

In [13]:
sql_cmd="""
insert into sawon(sabun, name, juso, tel, year)
values
('s0001','홍길동','서울시', '010-1111-2222', 5),
('s0002','임꺽정','경기도', '010-2222-2222', 3),
('s0003','전우치','인천시', '010-3333-2222', 2),
('s0004','손오공','강원도', '010-5555-3333', 1),
('s0005','저팔계','서울시', '010-7777-999', 8)

"""
db_cur2.execute(sql_cmd)
db_cur2.execute("select * from sawon")

10

In [15]:
db_cur2.execute("select * from sawon where juso='서울시'")

4

In [20]:
db_cur2.execute("update sawon set year=10 where name='홍길동'")

(('s0001', '홍길동', '서울시', '010-1111-2222', 10),
 ('s0002', '임꺽정', '경기도', '010-2222-2222', 3),
 ('s0003', '전우치', '인천시', '010-3333-2222', 2),
 ('s0004', '손오공', '강원도', '010-5555-3333', 1),
 ('s0005', '저팔계', '서울시', '010-7777-999', 8),
 ('s0001', '홍길동', '서울시', '010-1111-2222', 10),
 ('s0002', '임꺽정', '경기도', '010-2222-2222', 3),
 ('s0003', '전우치', '인천시', '010-3333-2222', 2),
 ('s0004', '손오공', '강원도', '010-5555-3333', 1),
 ('s0005', '저팔계', '서울시', '010-7777-999', 8))

In [21]:
db_cur2.execute("delete from sawon where tel='010-1111-2222'")

2

In [22]:
db_cur2.execute("select * from sawon")
db_cur2.fetchall()

(('s0002', '임꺽정', '경기도', '010-2222-2222', 3),
 ('s0003', '전우치', '인천시', '010-3333-2222', 2),
 ('s0004', '손오공', '강원도', '010-5555-3333', 1),
 ('s0005', '저팔계', '서울시', '010-7777-999', 8),
 ('s0002', '임꺽정', '경기도', '010-2222-2222', 3),
 ('s0003', '전우치', '인천시', '010-3333-2222', 2),
 ('s0004', '손오공', '강원도', '010-5555-3333', 1),
 ('s0005', '저팔계', '서울시', '010-7777-999', 8))