In [29]:
import re

In [35]:
m=re.match("\d+ \d+","10 200")
res=m.group()
scores=res.split()
int(scores[0])

10

In [39]:
m=re.match("([\d]+) ([\d]+)","10 200")
#패턴 내부에서 정규표현식을 ()소괄호로 묶으면 그룹이 됨

In [46]:
m.group(1) #m.groups()[0] 같음
m.group(2)
m.group() #m.group(0)  같음
m.groups()

('10', '200')

In [ ]:
#그룹이 많을때는 그룹 단위로 이름을 부여하여 구분
#(?P<이름>정규표현식)

In [49]:
m=re.match("(?P<func>[a-zA-Z_][a-zA-Z0-9_]+)\((?P<arg>\w+)\)","print(123)")
m.group('func')
m.group('arg')

'123'

In [ ]:
#영문자/언더바 1글자 + 영문자/숫자/언더바 1글자 이상

In [ ]:
#문자열에서 함수이름과 인수를 각각 추출

In [ ]:
"1 2 abc 3 def 4 5 ghi"

In [54]:
re.findall("\d+","1 2 abc 3 def 4 5 ghi")
re.findall("[0-9]+","111 2 abc 3 def 4 5 ghi")
#re.findall("[0-9]","111 2 abc 3 def 4 5 ghi")

['111', '2', '3', '4', '5']

In [ ]:
a="1 2 abc 3 def 4 5 ghi"
re.match("(\d+) (\d+) \w+ (\d+) \w+ (\d+) (\d+) \w+",a)

In [ ]:
#대한민국 한국 고려 조선 남한 코리아 => 대한민국 통일
#"Donald_Trump .... trump"

In [ ]:
#re.sub("패턴식", "바꿀문자열", "문자열", "바꿀횟수")
#바꿀횟수는 생략시 모두 변경

In [55]:
re.sub("apple|orange","fruit","apple box orange tree")

'fruit box fruit tree'

In [ ]:
#"100 200 abc 한국 300 데이터 500"
#숫자를 모두 num으로 변경

In [56]:
re.sub("[0-9]+","num","100 200 abc 한국 300 데이터 500")

'num num abc 한국 num 데이터 num'

In [62]:
# "100 200 abc 한국 300 데이터 500"에서 숫자를 찾은 다음
# 각 숫자를 10배한 값으로 변경
# "1000 2000 abc 한국 3000 데이터 5000"

# re.sub("패턴", 함수, "문자열", "변경횟수")
# 문자열에서 패턴에 해당되는 부분이 함수에 인수로서 전달됨
# 함수에서 처리 작업 수행하고 리턴

def mul10(num):
    #print(int(num.group())*10)
    return str(int(num.group())*10)

re.sub("[0-9]+", mul10, "100 200 abc 한국 300 데이터 500")

'1000 2000 abc 한국 3000 데이터 5000'

In [63]:
re.sub("[0-9]+", lambda num:str(int(num.group())*10), "100 200 abc 한국 300 데이터 500")

'1000 2000 abc 한국 3000 데이터 5000'

In [64]:
import pandas as pd

In [66]:
df=pd.read_csv("train.csv")

In [67]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 891 entries, 0 to 890
Data columns (total 12 columns):
PassengerId    891 non-null int64
Survived       891 non-null int64
Pclass         891 non-null int64
Name           891 non-null object
Sex            891 non-null object
Age            714 non-null float64
SibSp          891 non-null int64
Parch          891 non-null int64
Ticket         891 non-null object
Fare           891 non-null float64
Cabin          204 non-null object
Embarked       889 non-null object
dtypes: float64(2), int64(5), object(5)
memory usage: 83.7+ KB

In [70]:
df['Name']

n1='Futrelle, Mrs. Jacques Heath (Lily May Peel)'
n2='Johnston, Miss. Catherine Helen "Carrie"'
n3='Dooley, Mr. Patrick'

In [73]:
# Mrs.
# Miss.
# Mr.
re.search(", M[irs]+.",n1)
re.search(" [A-Za-z.]+",n1)
re.findall(" (\w+[.]) ",n1)

['Mrs.']

In [74]:
# 클래스 : 동작 및 속성이 유사한 객체들 모음
# 객체 : 게임 캐릭터
# 동작(메서드):활쏘기, 칼베기
# 속성:레벨, 체력, 공격력,...

In [75]:
#클래스 정의
class 클래스명:
    def 메서드명(self):
        코드

In [82]:
class Person:
    def study(self):
        print("python study")
    def hello(self):
        self.study()

In [83]:
hgd=Person() #클래스() => 객체 생성

In [84]:
hgd.hello()

python study

In [78]:
hgd.study()

python study

In [79]:
type(hgd)

__main__.Person

In [85]:
#클래스에서 속성을 만들때는 __init__ 메서드 안에서 self.속성명=값 형태로 작성

In [113]:
class 붕어빵기계:
    def 굽는다(self):
        print("굽는작업")
    def __init__(self):
        self.con="팥"
        self.width="10"
        self.height="5"

In [116]:
붕어빵1=붕어빵기계()
print(붕어빵1.height)

5

In [107]:
class Person:
    def study(self):
        print("study")
    def __init__(self):
        self.say="응애응애"
        self.name="아가"
        self.age="1"
        print("init가 호출됨")
    def greeting(self):
        print(self.say)
        #클래스 내부에서 속성을 사용할때는 self.속성명

In [108]:
ikj=Person() #__init__:클래스에 괄호()를 붙여서 객체를 생성하면 자동으로
#호출되는 특별한 메서드

init가 호출됨

In [112]:
print(ikj)
print(ikj.say)
print(ikj.age)

<__main__.Person object at 0x0000019035E9A788>
응애응애
1

In [109]:
# ikj.study()
# ikj.hello
ikj.greeting()

응애응애

In [118]:
class Person:
    def __init__(self, name, age, addr):
        self.name=name
        self.age=age  
        self.addr=addr
        self.gen="female"
    def hello(self):
        print("{0} 저는 {1}입니다".format(self.age,self.name))

In [120]:
ikj=Person('임꺽정', 20, '서울시')

In [125]:
print(ikj.gen)
ikj.hello()

female
20 저는 임꺽정입니다

In [ ]:
# 부모클래스(기반, 슈퍼):물려주는 기능 
# 자식클래스(파생, 서브):물려받는 기능

In [126]:
# 상속
# 동물클래스-(잔다,먹는다,...)
#   |                |             |
# 파충류클래스    조류클래스   포유류클래스
#   |                |              |
# 뱀클래스           참새          사람
# 기어다닌다        부리모양,...    공부한다,생각한다,...
# 독성

In [129]:
class 동물:
    def 먹는다(self):
        print("맛있게 먹는다")

In [130]:
class 사람(동물): #동물클래스로부터 상속받아 사람클래스 정의
    def 공부한다(self):
        print("열심히 공부한다")    
#     def 먹는다(self):  상속받아서 존재함
#         print("맛있게 먹는다")

In [131]:
세종=사람()

In [133]:
세종.공부한다()
세종.먹는다()

열심히 공부한다
맛있게 먹는다

In [ ]:
가-힣
ㄱ-ㅎ